@model VehicleRentalSystem.ViewModels.VehicleViewModel
@{
    Layout = null;
}

<!--Vehicle Modal-->
<div class="modal fade" id="addOrEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-gradient-primary">
                <h5 class="modal-title text-light" id="addOrEditModalLabel">Add New Vehicle</h5>
                <button id="close" class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div id="mbody" class="modal-body" style="padding-bottom:0px">

                <!--Vehicle Form-->
                @using (Html.BeginForm("AddOrEdit", "Vehicle", FormMethod.Post, new { onsubmit = "return SubmitForm(this)", @class = "form-horizontal", id = "add" }))
                {


                    <div class="container">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Vehicle.VehicleId)




                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4 text-right font-weight-bold">
                                    @Html.LabelFor(model => model.Vehicle.LicensePlate, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-sm-8 text-left">
                                    @Html.EditorFor(model => model.Vehicle.LicensePlate, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(model => model.Vehicle.LicensePlate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4 text-right font-weight-bold">
                                    @Html.LabelFor(model => model.Vehicle.Branch, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-sm-8 text-left">
                                    @Html.DropDownListFor(m => m.Vehicle.Branch.BusinessEntityId, new SelectList(Model.Branches, "BusinessEntityId", "Name"), "Select Branch", htmlAttributes: new { @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(model => model.Vehicle.Branch.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4 text-right font-weight-bold">
                                    @Html.LabelFor(model => model.Vehicle.VehicleModel.Name, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-sm-8 text-left">
                                    @Html.DropDownListFor(m => m.Vehicle.VehicleModel.VehicleModelId, new SelectList(Model.VehicleModels, "VehicleModelId", "Name"), "Select Vehicle Type", htmlAttributes: new { @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(model => model.Vehicle.VehicleModel.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4 text-right font-weight-bold">
                                    @Html.LabelFor(model => model.Vehicle.IsAvailable, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-sm-8 text-left">
                                    @Html.EditorFor(model => model.Vehicle.IsAvailable, new { htmlAttributes = new { @class = "form-controlsm form-control-sm" } })
                                    @Html.ValidationMessageFor(model => model.Vehicle.IsAvailable, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>


                        <div class="col-12 text-right align-content-center">
                            <div class="modal-footer">
                                <input type="Reset" value="Reset" class="btn btn-secondary" />
                                <input type="submit" value="Submit" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>


