@model IEnumerable<VehicleRentalSystem.ViewModels.VehicleModelViewModel>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary text-center">Manage Models</h4>
    </div>
    <!--Vehicle Model Data Table headings-->
    <div class="card-body">
        <div class="table-responsive">
            <a onclick="Add('@Url.Action("AddOrEdit", "VehicleModel")')" class="btn btn-sm btn-primary btn-icon-split mb-4">
                <span class="icon text-white-50"><i class='fas fa-plus'></i></span>
                <span class="text text-white">Add</span>
            </a>
            <table id="vehicleModelTable" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.VehicleModel.VehicleModelId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.VehicleModel.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.VehicleModel.SeatingCapacity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.VehicleModel.BagCapacity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.VehicleModel.VehicleManufacturer.Name)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.VehicleModel.VehicleType.Name)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.VehicleModel.Automatic)
                        </th>

                        <th>
                            Actions
                        </th>

                    </tr>
                </thead>

            </table>

        </div>
    </div>
</div>




@*containter for add and edit boostrap modals*@
<div id="modalContainer">

</div>

@*Delete rental Bootstrap modal*@
<div class="modal " id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-gradient-primary">
                <h5 class="modal-title text-white" id="exampleModalLabel">Delete Vehicle Model</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Are you sure you would like to delete this model?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button id="deleteButton" class="btn btn-primary" type="button">Delete</button>

            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/customscpt/vehicle_model.js"></script>
}

