@using VehicleRentalSystem.Models
@model LoginViewModel
@{
    ViewBag.Title = "VenSys Log in";
    Layout = "~/Views/Shared/_LoginView.cshtml";
}


<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Welcome to Vensys</h1>
                    </div>
                    <!-- Login Form -->
                    <section id="loginForm">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal user", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-user", placeholder = "Email Address" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-user", placeholder = "Password" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-12">
                                    <div class="checkbox small custom-checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-12">
                                    <input type="submit" value="Login" class="btn btn-primary btn-user btn-block" />
                                </div>
                            </div>
                            <div class="text-center">
                                <div>
                                    @Html.ActionLink("Forgot Password?", "ForgotPassword", "", new { @class = "small" })
                                </div>
                                <div>
                                    @Html.ActionLink("Create an Account", "Register", "", new { @class = "small" })
                                </div>
                            </div>
                        }
                        <hr />
                    </section>
                </div>

            </div>
        </div>
    </div>
</div>


