@using Microsoft.AspNet.Identity
@using VehicleRentalSystem.Models.Extensions

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vensys - Dashboard</title>
    <link href="~/Scripts/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />

    <!-- Custom fonts for this template-->
    <!-- <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="~/Scripts/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <!-- <link href="css/sb-admin-2.min.css" rel="stylesheet"> -->
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">

                <div class="sidebar-brand-text mx-3">Vensys Rentals</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/Dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">


            <!-- Nav Item - Branches Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBranches" aria-expanded="true" aria-controls="collapseBranches">
                    <i class="fas fa-map-marker-alt fa-fw"></i>
                    <span>Branches</span>
                </a>
                <div id="collapseBranches" class="collapse" aria-labelledby="headingBranches" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" onclick="Add('@Url.Action("AddOrEdit", "Branch")')">Add Branch</a>
                        <a class="collapse-item" href="/Branches">Manage Branches</a>
                        @*@Html.ActionLink("Manage Branches", "Manage", "Branch", null, new { @class = "collapse-item" })*@
                    </div>
                </div>
            </li>


            <!-- Nav Item - Customers Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCustomers" aria-expanded="true" aria-controls="collapseCustomers">
                    <i class="fas fa-fw fa-address-book fa-fw"></i>
                    <span>Customers</span>
                </a>
                <div id="collapseCustomers" class="collapse" aria-labelledby="headingCustomers" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" onclick="Add('@Url.Action("AddOrEdit", "Customer")')">Add Customer</a>
                        <a class="collapse-item" href="/Customers">Manage Customers</a>
                    </div>
                </div>
            </li>


            <!-- Nav Item - Reservations Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReservations" aria-expanded="true" aria-controls="collapseReservations">
                    <i class="far fa-calendar-alt fa-fw"></i>
                    <span>Reservations</span>
                </a>
                <div id="collapseReservations" class="collapse" aria-labelledby="headingReservations" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" onclick="Add('@Url.Action("AddOrEdit", "Reservation")')">Add Reservation</a>
                        <a class="collapse-item" href="/Reservations">Manage Reservations</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Vehicles Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseVehicles" aria-expanded="true" aria-controls="collapseVehicles">
                    <i class="fas fa-fw fa-car fa-fw"></i>
                    <span>Vehicles</span>
                </a>
                <div id="collapseVehicles" class="collapse" aria-labelledby="headingVehicles" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header custom-color">Vehicles</h6>
                        <a class="collapse-item" onclick="Add('@Url.Action("AddOrEdit", "Vehicle")')">Add Vehicle</a>
                        <a class="collapse-item" href="/Vehicles">Manage Vehicles</a>
                        <h6 class="collapse-header">Classes</h6>
                        <a class="collapse-item" onclick="Add('@Url.Action("AddOrEdit", "VehicleType")')">Add Vehicle Type</a>
                        <a class="collapse-item" href="/VehicleTypes">Manage Vehicle Types</a>
                        <h6 class="collapse-header">Models</h6>
                        <a class="collapse-item" onclick="Add('@Url.Action("AddOrEdit", "VehicleModel")')">Add Model</a>
                        <a class="collapse-item" href="/VehicleModels">Manage Models</a>
                        <h6 class="collapse-header">Manufacturers</h6>
                        <a class="collapse-item" onclick="Add('@Url.Action("AddOrEdit", "VehicleManufacturer")')">Add Manufacturer</a>
                        <a class="collapse-item" href="/VehicleManufacturers">Manage Manufacterurers</a>
                    </div>
                </div>

            </li>


            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Billing Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBilling" aria-expanded="true" aria-controls="collapseBilling">
                    <i class="fas fa-file-invoice fa-fw"></i>
                    <span>Billing</span>
                </a>
                <div id="collapseBilling" class="collapse" aria-labelledby="headingBilling" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" onclick="Add('@Url.Action("AddRental", "Rental")')">Create Rental</a>
                        <a class="collapse-item" href="/Rentals">Manage Rentals</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input id="mainSearch" type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>



                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"> @User.Identity.GetUserFirstName()  @User.Identity.GetUserLastName()</span>
                                <img class="img-profile rounded-circle" src="~/Content/user.png">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div>
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Vensys Rentals 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div id="modalContainer">

    </div>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logOutModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-gradient-primary">
                    <h5 class="modal-title text-light" id="logOutModalLabel">Logout </h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body"><i class="fas fa-exclamation-triangle fa-2x text-gray-300 mr-2"></i>Are you sure you would like to Logout?</div>
                <div class="modal-footer border-0">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>



    <!-- Bootstrap core JavaScript-->
    <script src="~/Scripts/vendor/jquery/jquery.min.js"></script>
    <script src="~/Scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/daterangepicker/moment.min.js"></script>
    <script src="~/Scripts/daterangepicker/daterangepicker.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/Scripts/js/sb-admin-2.min.js"></script>
    <script src="~/Scripts/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    @RenderSection("scripts", false)
    <script src="~/Scripts/customscpt/Dialogs.js"></script>
    <script src="~/Scripts/notify.min.js"></script>

</body>

</html>
